/*! normalize.css v1.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/**
 * Address margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0;
}
/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none;
}
/**
 * Address `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 0;
}
dd {
  margin: 0 0 0 40px;
}
/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0;
}
/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}
/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-loading .slick-list {
  background: #ffffff url("../img/ajax-loader.gif") center center no-repeat;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}
.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}
/* Dots */
.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}
/*# sourceMappingURL=slick.css.map */
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after,
.header .nav__list:before,
.header .nav__list:after,
.footer__content:before,
.footer__content:after,
.back-link-container:before,
.back-link-container:after,
.building:before,
.building:after,
.contacts:before,
.contacts:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after,
.header .nav__list:after,
.footer__content:after,
.back-link-container:after,
.building:after,
.contacts:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix,
.header .nav__list,
.footer__content,
.back-link-container,
.building,
.contacts {
  *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
img {
  border: 0;
  vertical-align: top;
}
.animation {
  -webkit-transition: background-color 0.7s, color 1s, opacity 0.5s;
  -ms-transition: background-color 0.7s, color 1s, opacity 0.5s;
  -o-transition: background-color 0.7s, color 1s, opacity 0.5s;
  -moz-transition: background-color 0.7s, color 1s, opacity 0.5s;
  transition: background-color 0.7s, color 1s, opacity 0.5s;
}
html,
body {
  min-height: 100%;
}
html {
  font-size: 16px;
}
body {
  background: url(../img/background.jpg) no-repeat center center;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.header {
  text-align: center;
  color: #ffffff;
}
.header__logo-container {
  border-radius: 2px;
  padding: 20px 80px;
  background: #4a87a5;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRhODdhNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE3JSIgc3RvcC1jb2xvcj0iIzQ1ODNhMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzNmN2Q5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzM3Nzc5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMTcyOGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #4a87a5 0%, #4583a0 17%, #3f7d99 49%, #377790 75%, #31728a 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4a87a5), color-stop(17%, #4583a0), color-stop(49%, #3f7d99), color-stop(75%, #377790), color-stop(100%, #31728a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4a87a5 0%, #4583a0 17%, #3f7d99 49%, #377790 75%, #31728a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4a87a5 0%, #4583a0 17%, #3f7d99 49%, #377790 75%, #31728a 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4a87a5 0%, #4583a0 17%, #3f7d99 49%, #377790 75%, #31728a 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #4a87a5 0%, #4583a0 17%, #3f7d99 49%, #377790 75%, #31728a 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a87a5', endColorstr='#31728a', GradientType=0);
  /* IE6-8 */
  display: inline-block;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
}
.header__content {
  position: relative;
  z-index: 11;
}
.header__logo {
  display: inline-block;
  margin: auto;
  vertical-align: middle;
}
.header__title {
  letter-spacing: 3px;
  font-size: 1.6rem;
  text-transform: uppercase;
  display: inline-block;
  font-weight: normal;
  vertical-align: middle;
}
.header__title span {
  padding-top: 6px;
  margin-left: 25px;
}
.header__description {
  letter-spacing: 1px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: normal;
  display: block;
  margin-top: 15px;
}
.header .nav {
  width: 70%;
  margin: 15px auto;
}
.header .nav__list {
  list-style: none;
}
.header .nav__item {
  width: 24%;
  margin: 0 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.25);
}
.header .nav__item:first-child,
.header .nav__item:last-child {
  margin: 0;
}
.header .nav__link {
  letter-spacing: 1px;
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 7px 0;
  color: #9c9c9c;
  background: #555555;
  /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU1NTU1NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzRkNGQ0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NjQ2NDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #555555 0%, #4d4d4d 50%, #464646 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(50%, #4d4d4d), color-stop(100%, #464646));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #555555 0%, #4d4d4d 50%, #464646 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #555555 0%, #4d4d4d 50%, #464646 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #555555 0%, #4d4d4d 50%, #464646 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #555555 0%, #4d4d4d 50%, #464646 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#464646', GradientType=0);
  /* IE6-8 */
  border-top: 1px solid #7c7c7c;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header .nav__link.active,
.header .nav__link:hover {
  color: #ffffff;
  background: #4987a5;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ5ODdhNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzNlN2Q5OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMjczOGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #4987a5 0%, #3e7d98 50%, #32738a 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4987a5), color-stop(50%, #3e7d98), color-stop(100%, #32738a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4987a5 0%, #3e7d98 50%, #32738a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4987a5 0%, #3e7d98 50%, #32738a 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4987a5 0%, #3e7d98 50%, #32738a 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #4987a5 0%, #3e7d98 50%, #32738a 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4987a5', endColorstr='#32738a', GradientType=0);
  /* IE6-8 */
  border-top: 1px solid #f7760c;
}
.main-content {
  width: 70%;
  margin: 15px auto;
}
.main-content__homepage .homepage-slider {
  height: 340px;
  position: relative;
}
.main-content__homepage .homepage-slider__item {
  height: 100%;
}
.main-content__homepage .homepage-slider__item_1 {
  background: url(../img/buildings/building_wide_1.jpeg) no-repeat center center;
  background-size: cover;
}
.main-content__homepage .homepage-slider__item_2 {
  background: url(../img/buildings/building_wide_2.jpeg) no-repeat center center;
  background-size: cover;
}
.main-content__homepage .homepage-slider__item_3 {
  background: url(../img/buildings/building_wide_3.jpeg) no-repeat center center;
  background-size: cover;
}
.main-content__homepage .homepage-slider .slick-list {
  height: 100%;
}
.main-content__homepage .homepage-slider .slick-track {
  height: 100%;
}
.main-content__homepage .homepage-slider .slick-dots {
  position: absolute;
  right: 0px;
  bottom: 13px;
  text-align: right;
  padding-right: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.main-content__homepage .homepage-slider .slick-dots li {
  margin: 0 3px;
}
.main-content__homepage .homepage-slider .slick-dots li button:before {
  color: #f7760c;
  font-size: 13px;
}
.footer {
  width: 70%;
  margin: 15px auto;
}
.footer__line {
  display: block;
  border: 1px solid #272727;
}
.footer__content {
  margin: 15px auto;
}
.footer__link {
  color: #6d6d6d;
  font-size: 0.8rem;
  margin-right: 20px;
}
.footer__link:hover {
  color: #f7760c;
}
.footer__contacts {
  float: left;
}
.footer__developer {
  float: right;
  margin-right: 7px;
  color: #6d6d6d;
  font-size: 0.8rem;
}
.footer__developer-link {
  color: #6d6d6d;
}
.footer__developer-link:hover {
  color: #f7760c;
}
.back-link-container {
  margin: 10px auto;
}
.back-link-container .back-link {
  float: right;
  clear: both;
  color: #939393;
  text-transform: lowercase;
  font-size: 0.8rem;
}
.back-link-container .back-link:hover {
  color: #f7760c;
}
@media only screen and (min-height: 700px) {
  .main-content__homepage .homepage-slider {
    height: 440px;
  }
}
@media only screen and (min-height: 1000px) {
  .main-content__homepage .homepage-slider {
    height: 640px;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1000px) {
  .header .nav__item {
    width: 48%;
    margin: 5px auto;
  }
  .header .nav__item:first-child,
  .header .nav__item:last-child {
    margin: 5px auto;
  }
  .header .nav__item:nth-child(1) {
    margin-right: 2%;
  }
  .header .nav__item:nth-child(3) {
    margin-right: 2%;
  }
}
.buildings__item {
  display: inline-block;
}
.buildings__link {
  max-width: 300px;
  text-align: center;
  display: inline-block;
}
.buildings__item-picture {
  display: block;
  min-height: 300px;
  max-height: 300px;
  line-height: 300px;
}
.buildings__img {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}
.buildings__item-name {
  display: block;
  margin-top: 10px;
}
.building__img-container {
  width: 35%;
  float: left;
}
.building__img {
  width: 100%;
}
.building__content {
  width: 62%;
  margin-left: 3%;
  float: left;
  text-align: left;
}
.building__title {
  font-weight: normal;
  margin: 0 auto 10px;
  color: #ffffff;
  font-size: 2rem;
}
.building .line {
  border: 1px solid #414141;
}
.building__information {
  color: #ffffff;
}
.building__image-link {
  line-height: 115px;
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
.building__image-link:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  background: url(../img/icon_zoom.png) no-repeat center center;
  background-size: cover;
  opacity: 0.7;
}
.building__resolution-img {
  height: 115px;
}
@media only screen and (min-width: 320px) and (max-width: 1000px) {
  .buildings {
    width: 90%;
    margin: auto;
  }
  .buildings__link {
    width: 100%;
    max-width: 100%;
    margin: auto;
    display: block;
  }
  .building {
    width: 90%;
    margin: auto;
  }
  .building__img-container {
    width: 100%;
    float: none;
    margin: auto;
  }
  .building__content {
    width: 100%;
    float: none;
    margin: 15px auto;
  }
}
.services {
  color: #ffffff;
}
.services__title {
  font-size: 2em;
  font-weight: normal;
}
.services__list {
  margin-left: 25px;
}
.services__item {
  font-size: 1.2em;
}
.services__link {
  display: inline-block;
  margin-top: 20px;
  text-decoration: underline;
  color: #ffffff;
}
.services__link:hover {
  color: #f7760c;
}
@media only screen and (min-width: 320px) and (max-width: 640px) {
  .services {
    width: 90%;
    float: none;
    margin: auto;
  }
}
.requisites {
  margin-bottom: 30px;
  color: #ffffff;
}
@media only screen and (min-width: 320px) and (max-width: 640px) {
  .requisites {
    width: 90%;
    float: none;
    margin: auto;
  }
}
.contacts {
  margin-bottom: 30px;
  color: #ffffff;
}
.contacts__map-container {
  width: 40%;
  float: left;
}
.contacts__map-container .map {
  height: 400px;
}
.contacts__content {
  float: left;
  width: 58%;
  margin-left: 2%;
}
.contacts__title {
  font-weight: normal;
}
@media only screen and (min-width: 320px) and (max-width: 640px) {
  .contacts {
    width: 90%;
    margin: auto;
  }
  .contacts__map-container {
    width: 100%;
    margin: auto;
    float: none;
  }
  .contacts__content {
    width: 100%;
    margin: auto;
    float: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 640px) {
  .header__logo {
    display: block;
    margin-bottom: 10px;
  }
  .header__title {
    margin: 0 auto;
  }
  .header__title span {
    margin: 0 auto;
  }
  .header .nav {
    width: 95%;
  }
  .header .nav__item {
    width: 100%;
    margin: 5px 0;
  }
  .header .nav__item:first-child,
  .header .nav__item:last-child {
    margin: 3px 0;
  }
  .main-content {
    width: 100%;
  }
  .buildings__img {
    width: 288px;
  }
  .buildings__item-picture {
    min-height: 288px;
    max-height: 288px;
    line-height: 288px;
  }
  .building__title {
    font-size: 1.2rem;
  }
  .building__image-link {
    display: block;
    text-align: center;
    margin-right: 0;
  }
  .building__image-link:first-child {
    margin-bottom: 5px;
  }
  .building__image-link:after {
    background: none;
  }
  .footer {
    width: 95%;
  }
  .footer__contacts {
    float: none;
  }
  .footer__contacts a,
  .footer__contacts span {
    display: block;
    margin: 3px 0;
  }
  .footer__developer {
    float: none;
    margin: 3px 0;
  }
}
/*# sourceMappingURL=../css/styles.css.map */