@media only screen
and (min-width : 320px)
and (max-width : 640px) {
    .header{
        &__logo{
            display: block;
            margin-bottom: 10px;
        }
        &__title{
            margin: 0 auto;
            span{
                margin: 0 auto;
            }
        }
        .nav{
            width: 95%;
            &__item{
                width: 100%;
                margin: 5px 0;
                &:first-child, &:last-child{
                    margin: 3px 0;
                }
            }
        }
    }
    .main-content{
        width: 100%;
    }
    .buildings{
        &__img{
            width: 288px;
        }
        &__item-picture{
            min-height: 288px;
            max-height: 288px;
            line-height: 288px;
        }
    }
    .building{
        &__title{
            font-size: 1.2rem;
        }
        &__image-link{
            display: block;
            text-align: center;
            margin-right: 0;
            &:first-child{
                margin-bottom: 5px;
            }
            &:after{
                background: none;
            }
        }
    }
    .footer{
        width: 95%;
        &__contacts{
            float: none;
            a, span{
                display: block;
                margin: 3px 0;
            }
        }
        &__developer{
            float: none;
            margin: 3px 0;
        }
    }
}