.buildings{
    &__item{
        display: inline-block;
    }
    &__link{
        max-width: 300px;
        text-align: center;
        display: inline-block;
    }
    &__item-picture{
        display: block;
        min-height: 300px;
        max-height: 300px;
        line-height: 300px;
    }
    &__img{
        display: inline-block;
        vertical-align: middle;
        width: 300px;
    }
    &__item-name{
        display: block;
        margin-top: 10px;
    }
}

.building{
    &:extend(.clearfix all);
    &__img-container{
        width: 35%;
        float: left;
    }
    &__img{
        width: 100%;
    }
    &__content{
        width: 62%;
        margin-left: 3%;
        float: left;
        text-align: left;
    }
    &__title{
        font-weight: normal;
        margin: 0 auto 10px;
        color: #ffffff;
        font-size: 2rem;
    }
    .line{
        border: 1px solid lighten(#272727, 10%);
    }
    &__information{
        color: #ffffff;
    }
    &__image-link{
        line-height: 115px;
        display: inline-block;
        margin-right: 20px;
        position: relative;
        &:after{
            content: "";
            display: block;
            position: absolute;
            bottom: 3px;
            right: 3px;
            width: 20px;
            height: 20px;
            background: url(../img/icon_zoom.png) no-repeat center center;
            background-size: cover;
            opacity: 0.7;
        }
    }
    &__resolution-img{
        height: 115px;
    }
}

@media only screen
and (min-width: 320px)
and (max-width: 1000px){
    .buildings{
        width: 90%;
        margin: auto;
        &__link{
            width: 100%;
            max-width: 100%;
            margin: auto;
            display: block;
        }
    }
    .building{
        width: 90%;
        margin: auto;
        &__img-container{
            width: 100%;
            float: none;
            margin: auto;
        }
        &__content{
            width: 100%;
            float: none;
            margin: 15px auto;
        }
    }
}
