.contacts{
    &:extend(.clearfix all);
    margin-bottom: 30px;
    color: #ffffff;
    &__map-container{
        width: 40%;
        float: left;
        .map{
            height: 400px;
        }
    }
    &__content{
        float: left;
        width: 58%;
        margin-left: 2%;
    }
    &__title{
        font-weight: normal;
    }
}

@media only screen
and (min-width: 320px)
and (max-width: 640px){
    .contacts{
        width: 90%;
        margin: auto;
        &__map-container{
            width: 100%;
            margin: auto;
            float: none;
        }
        &__content{
            width: 100%;
            margin: auto;
            float: none;
        }
    }
}