.requisites{
    margin-bottom: 30px;
    color: #ffffff;
}

@media only screen
and (min-width: 320px)
and (max-width: 640px){
    .requisites{
        width: 90%;
        float: none;
        margin: auto;
    }
}