.services{
    color: #ffffff;
    &__title{
        font-size: 2em;
        font-weight: normal;
    }
    &__list{
        margin-left: 25px;
    }
    &__item{
        font-size: 1.2em;
    }
    &__link{
        display: inline-block;
        margin-top: 20px;
        text-decoration: underline;
        color: #ffffff;
        &:hover{
            color: #f7760c;
        }
    }
}

@media only screen
and (min-width: 320px)
and (max-width: 640px){
    .services{
        width: 90%;
        float: none;
        margin: auto;
    }
}