doctype html
html
    include ./jade_includes/_head
    body
        include ./jade_includes/_header
        .main-content
            .building
                .building
                    .back-link-container
                        a.back-link(href='/building')
                            | < К списку объектов
                    .building__img-container
                        img.building__img(src='img/items/4_section_house.jpg',alt='')
                    .building__content
                        h1.building__title
                            | 4 четырехсекционных жилых дома с.Займо-Обрыв Азовский район
                        .line
                        p.building__information
                            | Адрес: Ростовская обл., р-н Азовский, с. Займо-Обрыв, пер. Кошевого, 12-а
                        .line
                        p.building__information
                            | Общая площадь жилых домов - 421,92 м2
                        p.building__information
                            | Площадь одного жилого дома - 105,48 м2
                        p.building__information
                            | Строительный объем - 2 282,68 м3
                        p.building__information
                            | на земельном участке площадью 2 948 м. кв.
                        .line
                        p.building__information
                            a.building__image-link.fancybox(href='img/resolutions/4-section-house.jpg')
                                img.building__resolution-img(src='img/resolutions/4-section-house.jpg',alt='')
                            | Разрешение на строительство
                        .line
                        p.building__information
                            a.building__image-link.fancybox(href='img/declarations/4-section-house_1.jpg')
                                img.building__resolution-img(src='img/declarations/4-section-house_1.jpg',alt='')
                            a.building__image-link.fancybox(href='img/declarations/4-section-house_2.jpg')
                                img.building__resolution-img(src='img/declarations/4-section-house_2.jpg',alt='')
                            | Проектная декларация
                        p.building__information
                            | Изменение в проектную декларацию от  03.10.2014 г.
                        p.building__information
                            | В раздел «Финансовый результат текущего года» проектной декларации внесены следующие изменения:
                            br
                            | Финансовый результат деятельности компании за 9 месяцев 2014 г. (убыток) – 121 000 рублей.
                        p.building__information
                            | В раздел «Размер кредиторской задолженности» проектной декларации внесены следующие изменения:
                            br
                            | Кредиторская задолженность на 01.10.2014 г.  – 12 025 000 рублей.
                        p.building__information
                            | В раздел «Размер дебиторской задолженности» проектной декларации внесены следующие изменения:
                            br
                            | Дебиторская задолженность на 01.10.2014 г. – 11 731 000 рублей.
        include ./jade_includes/_footer
        script(src='js/building.js')
