doctype html
html
    include ./jade_includes/_head
    body
        include ./jade_includes/_header
        .main-content
            .buildings
                .back-link-container
                    a.back-link(href='/')
                        | < На главную
                ul.buildings__buildings
                    li.buildings__item
                        a.buildings__link(href='/4-section-house')
                            span.buildings__item-picture
                                img.buildings__img(src='img/items/4_section_house.jpg',alt='')
                            span.buildings__item-name
                                | 4 четырехсекционных жилых дома с.Займо-Обрыв Азовский район

        include ./jade_includes/_footer
        script(src='js/building.js')
