doctype html
html
    include ./jade_includes/_head
    body
        include ./jade_includes/_header
        script(src='http://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')
        .main-content
            .contacts
                .back-link-container
                    a.back-link(href='/')
                        | < На главную
                .contacts__map-container
                    .map#map
                .contacts__content
                    h1.contacts__title
                        | ООО "Форас"
                    p.contacts__string
                        | Ростовская область, город Таганрог, пер. Гарибальди, 78
                    p.contacts__string
                        | Ирина: +7 (928) 166-05-61
                    p.contacts__string
                        | Нина: +7 (918) 552-86-07
                    p.contacts__string
                        | Email:
                        a(href='mailto:oooforas2013@yandex.ru')
                            | oooforas2013@yandex.ru
        include ./jade_includes/_footer
        script(src='js/contacts.js')
