doctype html
html
    include ./jade_includes/_head
    body
        include ./jade_includes/_header
        .main-content
            .main-content__homepage
                #homepageSlider.homepage-slider
                    .homepage-slider__item.homepage-slider__item_1
                    .homepage-slider__item.homepage-slider__item_2
                    .homepage-slider__item.homepage-slider__item_3

        include ./jade_includes/_footer
        script(src='js/homepage.js')
