doctype html
html
    include ./jade_includes/_head
    body
        include ./jade_includes/_header
        .main-content
            .requisites
                .back-link-container
                    a.back-link(href='/')
                        | < На главную
                p.requisites__string
                    | Общество с ограниченной ответственностью «Форас»
                p.requisites__string
                    | Адрес: Ростовская область, город Таганрог, пер. Гарибальди, 78
                p.requisites__string
                    | ОГРН 1136154000443
                p.requisites__string
                    | ИНН 6154126773/КПП 615401001
                p.requisites__string
                    | Филиал №5 ОАО КБ «Центр-Инвест»
                p.requisites__string
                    | Адрес банка: 347900, Ростовская область, город Таганрог, ул.Греческая, 95
                p.requisites__string
                    | БИК 046013993
                p.requisites__string
                    | к/с 30101810700000000993
                p.requisites__string
                    | р/с 40702810000500001878
                p.requisites__string
                    | Директор Егикян Ирина Левоновна, действующая на основании Устава
        include ./jade_includes/_footer
        script(src='js/requisites.js')
