doctype html
html
    include ./jade_includes/_head
    body
        include ./jade_includes/_header
        .main-content
            .services
                .back-link-container
                    a.back-link(href='/')
                        | < На главную
                h1.services__title
                    | Мы оказываем следующие услуги:
                ul.services__list
                    li.services__item
                        | Поставка спортивного оборудования
                    li.services__item
                        | Страхование ответственности застройщика
                a.services__link(href='contacts')
                    | Связаться с нами

        include ./jade_includes/_footer
        script(src='js/services.js')
