footer.footer
    span.footer__line
    .footer__content
        .footer__contacts
            a.footer__link(href='http://oooforas.com') ООО "Форас"
            a.footer__link(href='mailto:oooforas2013@yandex.ru') oooforas2013@yandex.ru
            span.footer__link.footer__link_phone +7 (918) 552-86-07
        .footer__developer
            span Разработка:
            a#rassokhinMeLink.footer__developer-link(href='http://rassokhin.me', target='_blank') rassokhin.me
    script(src='js/eventsTracking.js')