header.header
    .header__logo-container
        h1.header__title
            a.header__main-link(href='/')
                img.header__logo(src='img/logo.png', alt='')
                span ООО "Форас"
                span.header__description строительная компания
    nav.nav
        ul.nav__list#navList
            li.nav__item
                a.nav__link(data-link='building',href='/building') строительство
            li.nav__item
                a.nav__link(data-link='services',href='/services') услуги
            li.nav__item
                a.nav__link(data-link='requisites',href='/requisites') реквизиты
            li.nav__item
                a.nav__link(data-link='contacts',href='/contacts') контакты
