head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title ООО "Форас"
    meta(name='description', content='г. Таганрог, Строительная компания')
    meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:700,300&subset=cyrillic,latin', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='css/jquery.fancybox.css')
    script(src='js/vendor/html5.js')
    script(src='js/vendor/modernizr-2.6.2.min.js')
    script(src='js/vendor/jquery-1.10.2.min.js')
    script(src='js/vendor/jquery.fancybox.pack.js')
    script(src='js/vendor/slick.min.js')
    script.
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-56242579-1', 'auto');
        ga('send', 'pageview');